<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
<configSections>
    
</configSections>
    
<connectionStrings>
        
<add name="ConnStr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DiamondPro;Integrated Security=True"
providerName="System.Data.SqlClient" />
        
<add name="DiamondPro.Properties.Settings.Setting" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DiamondPro;Integrated Security=True"
providerName="System.Data.SqlClient" />
    
</connectionStrings>
</configuration>